/* start light mode styling */
:root {
	--text: #ffeecc;
	--border: #45293f;
	--accent: #593a5f;
	--bg: #336644;
	--gradientTop: #668855;
	--gradientBottom: #334444;

	a:link {
		color: #ffb0a3;
	}
}

header {
	background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
		url('../images/backgrounds/cherry-background-dithered.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/* end light mode styling */


/* start dark mode styling */
@media (prefers-color-scheme: dark) {
	:root {
		--text: #ffeecc;
		--border: #3a1f04;
		--accent: #73e5ff;
		--bg: #336644;
		--gradientTop: #668855;
		--gradientBottom: #334444;

		a:link {
			color: #73e5ff;
		}
	}

	header {
		background: linear-gradient(rgb(0, 0, 0, 0.0), rgb(0, 0, 0, 0.0)),
			url('../images/backgrounds/anime-field-sky.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
	}
}

/* end dark mode styling */

/* start font styling */
@font-face {
	font-family: 'cageroll-standard';
	src:
		local('cageroll-standard'),
		url('../fonts/cageroll-standard.otf');
}

@font-face {
	font-family: 'cageroll-cage';
	src:
		local('cageroll-cage'),
		url('../fonts/cageroll-cage.otf');
}

@font-face {
	font-family: 'cageroll-roll';
	src:
		local('cageroll-roll'),
		url('../fonts/cageroll-roll.otf');
}

@font-face {
	font-family: 'silent-handwritting';
	src:
		local('silent-handwritting'),
		url('../fonts/silent-handwritting.otf');
}

@font-face {
	font-family: 'denis-handwritting';
	src:
		local('denis-handwritting'),
		url('../fonts/denis-handwritting.ttf');
}

@font-face {
	font-family: 'mareta-handwritting';
	src:
		local('mareta-handwritting'),
		url('../fonts/mareta-handwritting.otf');
}

@font-face {
	font-family: 'delicious-handrawn';
	src:
		local('delicious-handrawn'),
		url('../fonts/delicious-handrawn-regular.ttf');
}

@font-face {
	font-family: 'permanent-marker';
	src:
		local('permanent-marker'),
		url('../fonts/permanent-marker.ttf');
}

@font-face {
	font-family: 'pacifico';
	src:
		local('pacifico'),
		url('../fonts/pacifico-regular.ttf');
}

/* end font styling */

* {
	box-sizing: border-box;
}

* {
	scrollbar-color: #a9b2a2 #576069;
	scrollbar-width: thin;
}

body {
	font-family: 'delicious-handrawn';
	padding: 10px;
	color: var(--text);

	background: linear-gradient(rgb(0, 0, 0, 0.0), rgb(0, 0, 0, 0.0)),
		url('../images/tiles/tree-tiles-small.png');
	background-repeat: repeat;
}

.container {
	max-width: 60rem;
	margin: 2vh auto 12px auto;
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	gap: 5px;
}

/* these control the column widths */
.small {
	flex: 0 1 9%;
}

.large {
	flex: 1 1 74%;
}

.full {
	flex: 1 1 100%;
}

.half {
	flex: 1 1 49%;
}

.quarter {
	flex: 1 1 24%;
}


header {
	width: 100%;
	height: 200px;
	/* change banner height here*/
	border-image: url('../images/borders/old-wood-border.png') 24 22 24 22;
	border-image-outset: 10px 10px;
	border-width: 20px;
	border-style: solid;
	position: relative;
	padding: 10px;
	margin: 10px;
	font-family: 'permanent-marker';

}

header span {
	/* header text */
	font-size: 3rem;
	position: absolute;
	bottom: -10px;
	right: 5px;
	margin: 0px;
	font-weight: bold;
	color: #1e711b;
	/*main color*/
	text-shadow:
		-1px -1px #73e5ff,
		/*highlight*/
		1px 1px #8800ff;
	/*dark shadow*/
}

ul.nopoints {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

nav {
	border-image: url('../images/borders/old-wood-border.png') 24 22 24 22;
	border-image-outset: 3px;
	border-width: 10px;
	border-style: solid;
	padding: 5px;
	margin: 5px;
	background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.0)),
		url('../images/backgrounds/cotton-fabric.jpg');
}

nav div {
	text-align: center;
	font-size: 1.5rem;
	margin: 5px 5px 10px 5px;
}

nav a {
	display: block;
	margin: 5px;
	border-radius: 5px;
	padding: 2px 7px;
	text-decoration: none;
}

nav a:link,
nav a:visited {
	color: #73e5ff;
}

.half {
	margin: 5px 5px 10px 5px;
	/*fixes how center div sits relative to header*/
}

article {
	border-width: 2px;
	border-style: ridge;
	border-color: var(--border);
	padding: 5px;
	margin: 5px;
}

article.blog {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/backgrounds/paper-background.jpg');
	color: black;
}

div.gallery {
	padding: 5px;
	margin: 5px;
}

img.lightbox {
	/*grey inner border on polaroid frame*/
	border: 1px rgb(0, 0, 0, 0.5) inset;
}

img.lightbox:hover {
	border: 2px black inset;
}

figure {
	/*polaroid frame for images*/
	display: inline-block;
	background: url('../images/backgrounds/paper-background.jpg');
	box-sizing: border-box;
	box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.75);
	padding: 5px 5px 15px;
	margin: 2px 2px 10px 2px;
}

figcaption.black {
	color: black;
	/*image captions*/
	padding-left: 5px;
	margin: 0;
}

.blog {
	font-family: 'delicious-handrawn';
}

/* optional button styling like in the preview */
div.small>img {
	display: block;
	margin: 10px auto;
	background: url('../images/backgrounds/paper-background.jpg');
}

section {
	border-image: url('../images/borders/old-wood-border.png') 24 22 24 22;
	border-image-outset: 4px;
	border-image-width: 10px;
	border-style: solid;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)),
		url('../images/tiles/tiled-swirlies.png');
	padding: 5px;
	margin: 1px;
	max-height: 530px;
	overflow-y: auto;
	scrollbar-width: thin;
}

.centered {
	margin: 0 auto;
	/*centers element*/
	text-align: center;
	max-width: 520px;
}


footer {
	text-align: center;
	margin-bottom: 2vh;
	font-size: 1rem;
	text-shadow: 1px 1px 1px #000000;
}

footer a {
	text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 5px;
	line-height: 1.2;
}

h1 {
	font-size: 2rem;
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	border-bottom: 2px ridge var(--border);
	padding-bottom: 5px;
}

h2 {
	font-size: 1.5rem;
	font-weight: normal;
	text-align: center;
}

h3 {
	padding-left: 5px;
	font-size: 1.3rem;
}

h4 {
	font-size: 1.1rem;
	color: var(--accent);
	padding-left: 12px;
}

/* prevents overflow on smaller screens */
img {
	max-width: 100%;
}

pre {
	overflow-x: auto;
}

a {
	text-shadow: 1px 1px 2px #000000;
	/*general link styling*/
}

a:hover,
a:focus {
	font-style: italic;
	text-shadow: 1px 1px 2px #000000;
	/*hovering links*/
}

a:visited {
	color: #73e5ff;
	text-shadow: 1px 1px 2px #000000;
	/*visited links*/
}